# Task 1 – Exploratory Data Analysis (EDA)

This notebook performs initial EDA on the insurance claims dataset using the
modular code in the `src` package. It focuses on:

- Understanding the basic structure of the data.
- Computing overall and grouped loss ratios.
- Preparing for more detailed visual analysis in later notebooks.

In [3]:
# Set up imports and configuration
import sys
from pathlib import Path

# Determine project root by searching upwards for the `src` directory
project_root = Path.cwd().resolve()
if not (project_root / "src").exists():
    # If running from notebooks/ or another subdir, move one level up
    candidate = project_root.parent
    if (candidate / "src").exists():
        project_root = candidate

if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

from src.data_loader import DataLoader
from src.eda_summary import compute_loss_ratio_overall, compute_loss_ratio_by_group

loader = DataLoader.from_config()
df = loader.load_machine_learning_rating()
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [4]:
# Basic info and summary statistics
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [5]:
# Overall loss ratio for the portfolio
overall_lr = compute_loss_ratio_overall(df)
overall_lr

1.0477452570332206

In [6]:
# Loss ratio by Province
lr_by_province = compute_loss_ratio_by_group(df, ["Province"])
lr_by_province.sort_values('loss_ratio', ascending=False).head()

        Province  total_premium  total_claims  loss_ratio
2        Gauteng   2.405377e+07  2.939415e+07    1.222018
3  KwaZulu-Natal   1.320908e+07  1.430138e+07    1.082693
8   Western Cape   9.806559e+06  1.038977e+07    1.059472
6     North West   7.490508e+06  5.920250e+06    0.790367
5     Mpumalanga   2.836292e+06  2.044675e+06    0.720897

In [ ]:
# Missing value analysis\nfrom src.eda_missing import compute_missing_values\n\nmissing_stats = compute_missing_values(df)\nmissing_stats.head(20)\n

In [7]:
# Loss ratio by VehicleType
lr_by_vehicle_type = compute_loss_ratio_by_group(df, ["VehicleType"])
lr_by_vehicle_type.sort_values('loss_ratio', ascending=False).head()

         VehicleType  total_premium  total_claims  loss_ratio
1   Heavy Commercial   4.609479e+05  7.504746e+05    1.628112
3  Medium Commercial   3.922746e+06  4.119867e+06    1.050251
4  Passenger Vehicle   5.664202e+07  5.937207e+07    1.048198
5                NaN   5.671104e+05  5.566860e+05    0.981618
2   Light Commercial   2.604975e+05  6.045250e+04    0.232066